$white-100: #fdfdfd;

$dark-200: #909296;
$dark-300: #5c5f66;
$dark-600: #25262b;
$dark-700: #1a1b1e;
$dark-900: #101113;

$gray-100: #f1f3f5;
$gray-300: #dee2e6;

$red-200: #ffc9c9;
$red-300: #ffa8a8;
$red-500: #ff6b6b;
$red-600: #fa5252;
$red-900: #c92a2a;

$cyan-500: #22b8cf;
$cyan-600: #15aabf;
