@use "../../styles//abstracts/colors" as *;

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 6px solid $dark-200;
    border-top-color: $dark-300;
    animation: loading 2s linear infinite;
  }
}

@keyframes loading {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
